/* Fontes e Cores usadas */

@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Press+Start+2P&display=swap');

:root{
    --azul: #AAE8FF;
    --rosa: #E89AFF;
    --preto: #010101;
    --branco: #ffff;
    --lilas: #9D68C6;
    --dark: #370260;
}

/* Links do Cabeçalho*/

a:link, a:visited, a:active{
    font-family: "Press Start 2P";
    Color: var(--preto);
    font-size: 1rem;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

header.home nav.Links ul{
    align-items: center;
}

header.home nav.Links ul li.separa{
    padding: 1rem 1px 1rem 1px;
    background-color: var(--lilas);
}

header.home nav.Links ul li#entrar{
    border-width: 2px;
    border-top: solid var(--azul);
    border-left: solid var(--rosa);
    border-right: solid var(--azul);
    border-bottom: solid var(--rosa);
    border-radius: 2px;
    
}

header.home nav.Links ul li#espaco{
    padding: 0.5rem;
}

header.home nav.Links ul li ul.top{
    position: fixed;
    padding: 0.2rem;
    top: 0;
    right: 0;
}

header.home nav.Links ul li#cadastrar{
    padding: 1.4rem 1rem 1.4rem 1rem;
    border-radius: 0.5rem;
    background-image: linear-gradient( var(--azul), var(--rosa));
    
}

/* Barra de pesquisa */

header.home article.pesquisar{
    padding: 0.5rem 20rem 0.5rem 0.5rem;
    font-family: "Press Start 2P";
    color: var(--lilas);
    background-color: var(--dark);
    border-width: 2px;
    border-top: solid var(--azul);
    border-left: solid var(--rosa);
    border-right: solid var(--azul);
    border-bottom: solid var(--rosa);
}
header.home img.pesquisar{
    width: 4.1rem;
}


/* Configurações gerais do cabeçalho */

header.home{
    display: flex;
    flex-direction: row;
    height: 4rem;
    background-color: #5B03A0;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

header.home nav ul li{
    display: inline-flex;
    padding: 1rem;
}

/* Logo */

header.home picture img{
    height: 4rem;
    padding: 2rem;
    float: left;
}

header.home nav{
    display: inline-flex;

}

/*Configuraações do body */

body{
    background: #010101;
}

section ul li ul#cadastro{
    display: inline-flex;
    padding: 1rem;
    align-items: center;
}

section.main section.I{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

section.main section.II{
    align-items: center;
    display: grid;
    grid-template-columns: auto;
}

section.main section.III{
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
}

section.I ul li p.I{
    font-family: "New Rocker";
    color: var(--azul);
    font-size: 4rem;
    padding: 1rem;
    text-align: center;
}



section ul.cadastro li ul#cadastro li.link{
    padding: 2rem;
    border-radius: 0.5rem;
    background-image: linear-gradient( var(--azul), var(--rosa));
}

section.I ul.cadastro li ul#cadastro li.link a{
    font-size: 1.7rem;
}

section.I ul.cadastro li.rosa a{
    color: var(--rosa);
    text-decoration: underline;
    font: 2rem;
    padding: 1rem;
}

section.I ul.cadastro li ul#cadastro li img{
    width: 3rem;
    padding: 4rem;
}

section ul.cadastro li ul#cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
}


section.main section.II p.II{
    font-family: "New Rocker";
    color: var(--rosa);
    font-size: 6rem;
    line-height: 4rem;
    text-align: center;
    padding: 2rem;
    padding-bottom: 3rem;
    margin: 1px;
}

section.main section.II p.I{
    font-family: "New Rocker";
    color: var(--azul);
    font-size: 6rem;
    line-height: 4rem;
    text-align: center;
    padding: 2rem;
    margin: 1px;
}

section.main section.II{
    display: block;
}


section.I ul{
    display: block;
    align-items: center;
}

section.I{
    display: flex;
}

section.main section.III{
    align-items: center;
    display: inline-flex;
}

section.main section.III ul li{
    color: var(--rosa);
    font-family: "Press Start 2P";
    font-size: 2.5rem;
}

section.main section.III section.lista ul.exemplo li.exemplo{
    color: var(--azul);
    font-family: "New Rocker";
    font-size: 2.5rem;
    padding: 1rem;
}

section.main section.III section.lista ul.exemplo{
    display: inline-flex;
    align-items: center;
    list-style-type: none;
}

section.main section.III section.lista ul.exemplo li.seta img{
    padding-bottom: 1.5rem;
}

section.main section.III picture img{
    width: 35rem;
    padding-right: 3rem;
}

/* Configurações do rodapé */

footer.home{
    background: #2E1B5B url(./Imagens/matinho.png);
    height: 4rem;
}