:root {
    --azul: #AAE8FF;
    --rosa: #E89AFF;
    --preto: #010101;
    --branco: #ffff;
    --lilas: #9D68C6;
    --dark: #370260;
}

header nav.hamburger input#menu-toggle {
    display: none;
}


header nav.hamburger {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

header nav.hamburger ul {
    display: none;
    background-color: var(--branco);
}

header nav.hamburger label[for="menu-toggle"] {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

header nav.hamburger label[for="menu-toggle"] div.menu-hamburger {
    width: 35px;
    height: 15px;
    margin: 15px 2px 5px 5px;
}

header nav.hamburger label[for="menu-toggle"] div.menu-hamburger span.hamburger {
    position: relative;
    display: block;
    background-color: var(--preto);
    width: 30px;
    height: 2px;
}

header nav.hamburger label[for="menu-toggle"] div.menu-hamburger span.hamburger:before,
header nav.hamburger label[for="menu-toggle"] div.menu-hamburger span.hamburger:after {
    position: absolute;
    display: block;
    background-color: var(--preto);
    width: 100%;
    height: 100%;
    content: "";
}

header nav.hamburger label[for="menu-toggle"] div.menu-hamburger span.hamburger:before {
    top: -10px;
}

header nav.hamburger label[for="menu-toggle"] div.menu-hamburger span.hamburger:after {
    bottom: -10px;
}

header nav.hamburger input:checked~ul {
    display: block;
    animation: fade-in 1s;
}

header nav.hamburger input:checked~label[for="menu-toggle"] div.menu-hamburger span.hamburger {
    transform: rotate(45deg);
    transition: 0.5s ease-in-out;
}

header nav.hamburger input:checked~label[for="menu-toggle"] div.menu-hamburger span.hamburger:before,
header nav.hamburger input:checked~label[for="menu-toggle"] div.menu-hamburger span.hamburger:after {
    transform: rotate(90deg);
    transition: 0.5s ease-in-out;
}

header nav.hamburger input:checked~label[for="menu-toggle"] div.menu-hamburger span.hamburger::before {
    top: 0px
}

header nav.hamburger input:checked~label[for="menu-toggle"] div.menu-hamburger span.hamburger:after {
    bottom: 0px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}