@media(max-width: 1500px){
    section.main > section.I{
        grid-template-columns: auto auto auto;
    }
    section.main > section.II{
        grid-template-columns: auto;
    }
    section.main > section.III{
        grid-template-columns: auto auto;
    }
}

@media(max-width: 1450px){
    nav.Links ul li.ajuda{
        display: none;
    }
    section.main > section.I{
        grid-template-columns: auto auto;
    }
    section.main > section.II{
        grid-template-columns: auto;
    }
    section.main > section.II > p.I{
        font-size: 4rem;
        padding: 2rem;
    }
    section.main > section.II > p.II{
        font-size: 4rem;
        padding: 2rem;
    }
    section.main > section.III{
        grid-template-columns: auto auto;
    }
}